/* HTML ELEMENT */
html,body {
	height: 100%;
}

body {
	margin: 0;
	font-family: verdana, arial, helvetica, sans-serif;
	font-size: 11pt;
}

h1 {
	color: white;
	background: #317082;
}

a {
	text-decoration: none;
}

a:hover,a:active {
	text-decoration: underline;
}

a:active {
	text-decoration: underline;
}

/* LAYOUT */
#container {
	position: relative;
	margin: 0 auto;
	min-height: 100%;
	width: 790px;
	color: #DDD;
	background: #317082;
}

#header {
	font-size: 40px;
	letter-spacing: 10px;
	text-align: center;
	color: #f7d505;
	background: #317082;
}

#content {
	margin: 10px;
	padding-bottom: 20px; /* espace pour le footer */
}

div.menu {
	float: left;
	width: 160px;
	border: 1px solid white;
}

#main {
	margin-left: 190px;
}

#footer {
	position: absolute;
	width: 100%;
	bottom: 0px;
	padding-top: 3px;
	padding-bottom: 3px;
	font-size: 10pt;
	text-align: center;
	color: white;
	background-color: black;
}

/* HEADER */
#logo {
	vertical-align: middle;
	margin: 10px;
}

/* MENU */
li.menu {
	margin: 2px;
}

a.menu {
	text-decoration: none;
	color: white;
	background: #317082;
}

a.menu:hover,a.menu:active {
	color: blue;
	background: #317082;
	text-decoration: underline;
}

a.menu:active {
	text-decoration: underline;
}

table.report {
	border: 1px solid;
	border-color: white;
	margin: 15px;
}

td.report {
	border: 1px solid;
	border-color: white;
	font-size: 11pt;
}

th.report {
	background-color: darkgray;
	font-size: 12pt;
	font-weight: bold;
}

hr {
	visibility: hidden;
	clear: both;
}