body {
   margin: 0px;
   padding: 0px;
   color: #ddd;
   font-size: 13px;
   font-family: "Trebuchet MS", "Lucida Sans Unicode", "Arial", sans-serif; 
   background: #e2ebed;
}

h1 {
   color: #fff;
   background: #317082;
   font-size: 45px;
   letter-spacing: 15px;
   margin: 0px;
}

h3 {
   font-size: 20px;
   font-family: "Trebuchet MS", "Lucida Sans Unicode", "Arial", sans-serif;
   font-weight: bold;
   margin: 0px;
}

#container {
   margin: 0 auto;
   width: 724px;
   position: relative;
   color: #ddd;
   background: #317082;
   padding: 30px 10px 0px 10px;
}

#pageTitle {
   padding-bottom: 25px;
   text-align: center;
}

#logo {
   position: absolute;
   padding-top: 25px;
   padding-bottom: 30px;
   height: 171px;
   width: 724px;
   margin: 0;
   background: url("img/background.jpg") no-repeat;
}

#hileLogo {
   text-align: center;
   display: block;
   margin: 0px;
   padding: 0px 520px 0px 0px;
}

#textLogo {
   font-size: 13px;
   text-align: right;
   font-family: "Trebuchet MS", sans-serif;
   color: #000;
   background: #fff; 
}

#logo p {
   margin: 0px;
   text-align: right;
}

#pageData {
   margin: 200px 20px 0px 243px;
}

#pageData p {
   line-height: 150%;
   margin: 10px 0px 10px 0px;
}
    
#pageData h3 {
   margin: 40px 0px 10px 30px;
}

#linkList {
   position: absolute;
   top: 300px;
   width: 210px;
}

#linkList h3 {
   font-size: 16px;
}

#linkList ul {
   list-style-type: disc;
   margin: 0px;
   padding: 0px 0px 0px 30px;
}

#linkList li {
   font-size: 12px;
   padding: 10px 10px 10px 10px;
}

#certif {
   padding-top: 10px;
   padding-bottom: 0px;
   margin: 0px;
   text-align: right;
}

.imgCertif {
   border: 0px;
}

#linkList ul li a {
   text-decoration: underline;
   display: block;
   font-size: 13px;
}

#linkList ul li a:hover {
   color: #D60808;
   background: #317082;
}